.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--foreground);
}

.buttons div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    margin: 0 1rem;
    border-radius: 0.375rem;
    border: 1px solid var(--border);
    cursor: pointer;
    width: 90%;
}

.buttons p {
    text-align: center;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.button-text {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}