:root {
  --primary: rgb(233, 238, 241);
  --primary-content: rgb(85, 116, 134);
  --primary-dark: rgb(202, 214, 221);
  --primary-light: rgb(255, 255, 255);
  
  --secondary: rgb(240, 233, 241);
  --secondary-content: rgb(128, 85, 134);
  --secondary-dark: rgb(219, 202, 221);
  --secondary-light: rgb(255, 255, 255);
  
  --background: rgb(234, 241, 245);
  --foreground: rgb(250, 252, 253);
  --border: rgb(212, 226, 234);
  
  --copy: rgb(25, 42, 52);
  --copy-light: rgb(66, 111, 138);
  --copy-lighter: rgb(100, 150, 180);
  
  --success: rgb(233, 241, 233);
  --warning: rgb(241, 241, 233);
  --error: rgb(241, 233, 233);
  --success-content: rgb(85, 134, 85);
  --warning-content: rgb(134, 134, 85);
  --error-content: rgb(134, 85, 85);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-color: var(--background);
  padding-top:25px;
}

.page {
  width: 75vw;
  height: 100vh;
  background-color: var(--foreground);
  padding: 1rem 2rem;
  padding-top: 100px;
}
