:root {
--primary: rgb(10, 10, 11);
--primary-content: rgb(132, 132, 144);
--primary-dark: rgb(0, 0, 0);
--primary-light: rgb(34, 34, 38);

--secondary: rgb(11, 10, 10);
--secondary-content: rgb(144, 132, 132);
--secondary-dark: rgb(0, 0, 0);
--secondary-light: rgb(38, 34, 34);

--background: rgb(17, 17, 34);
--foreground: rgb(25, 25, 52);
--border: rgb(41, 41, 86);

--copy: rgb(250, 250, 253);
--copy-light: rgb(203, 203, 230);
--copy-lighter: rgb(135, 135, 197);

--success: rgb(10, 11, 10);
--warning: rgb(11, 11, 10);
--error: rgb(11, 10, 10);
--success-content: rgb(132, 144, 132);
--warning-content: rgb(144, 144, 132);
--error-content: rgb(144, 132, 132);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-color: var(--background);
  padding-top:25px;
}

.page {
  width: 50vw;
  height: 100vh;
  background-color: var(--foreground);
  padding: 1rem 2rem;
  padding-top: 100px;
}
